{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="articles" id="articles">
    <div class="articles-container">
        <h2 class="section-title">Статьи Автоклуба АНГЕЛ</h2>


        {% for article in articles %}
        <div class="article-card">
            <div class="article-date">{{ article.date|date:"d.m.Y" }}</div>
            <h3>{{ article.title }}</h3>
            <p>
                {{ article.text|truncatechars:150 }}
            </p>
            <a href="{% url 'article_detail' article.id %}" class="article-btn">Читать далее</a>
        </div>
        {% endfor %}

        <!-- <div class="article-card">
            <div class="article-date">10.10.2025</div>
            <h3>🚗 В автопарке «Ангела» пополнение!</h3>
            <p>
                Мы продолжаем обновлять наш автопарк – теперь в команде появилась новая Citroën Berlingo!
                Автомобиль уже прошёл фирменную оклейку и готов выезжать на помощь нашим клиентам...
            </p>
            <a href="{% url 'article_detail' 1 %}" class="article-btn">Читать далее</a>
        </div>

        <div class="article-card">
            <div class="article-date">22.08.2025</div>
            <h3>🚙 Ещё один «ангел» на дорогах!</h3>
            <p>
                Наш автопарк пополнился ещё одной новой Citroën Berlingo – стильной, современной и полностью готовой к работе...
            </p>
            <a href="{% url 'article_detail' 2 %}" class="article-btn">Читать далее</a>
        </div> -->
    </div>
</section>



<section class="contact-section">
  <div class="contact-map">
    <!-- Вставь сюда код Яндекс карты -->
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Aexample"
      width="100%"
      height="100%"
      frameborder="0"
    ></iframe>
  </div>

  <div class="contact-form">
    <h3>Оставьте заявку</h3>
    
    <form id="callbackForm" method="post">
      {% csrf_token %}

      <label for="name">Имя:</label>
      <input type="text" id="name" name="name" placeholder="Введите ваше имя" required>

      <label for="phone">Телефон:</label>
      <input type="tel" id="phone" name="phone" placeholder="+7 (___) ___-__-__" required required data-mask="+7 (999) 999 99 99" autocomplete="off">

      <button type="submit" class="modal-btn">Отправить</button>
    </form>
  </div>
</section>
{% endblock %}