{% load static %}
<footer class="footer">
    <div class="container">
        <div class="footer-logo">
            <img src="{% static 'assets/apple-touch-icon.png' %}" alt="Лого">
            <span>Компания</span>
        </div>
        <nav class="footer-menu">
            <ul>
                <li><a href="/okrug">По округам</a></li>
                <li><a href="/o-nas">О нас</a></li>
                <li><a href="/articles">Статья</a></li>
                <li><a href="/czenyi">Цены</a></li>
                <li><a href="/gallery">Галерея</a></li>
                <li><a href="/calculator">Калькулятор</a></li>
		<li><a href="/payment">Оплата</a></li>
            </ul>
        </nav>
        <div class="footer-contact">
            <a href="#" class="btn-order-footer btn-order">Заказать</a>
        </div>
    </div>
</footer>
