{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Секция Фото наших работ -->

<section class="works">
  <div class="container works-container">
    <h2 class="works-title">Фото наших работ</h2>
    <div class="works-gallery">
      {% for photo in photos %}
        <div class="work-item">
          <img src="{{ photo.image.url }}" alt="{{ photo.caption }}">
        </div>
      {% endfor %}
    </div>
  </div>
</section>


<section class="contact-section">
  <div class="contact-map">
    <!-- Вставь сюда код Яндекс карты -->
 
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A4486b9c12da82af0eeba885ef942f24eb8f6d4a7cccf7ac298f6ed585e65e09c&amp;source=constructor" width="100%" height="100%" frameborder="0"></iframe>
  </div>

  <div class="contact-form">
    <h3>Оставьте заявку</h3>
    <form class="contact-form" novalidate>
        {% csrf_token %}
        <input type="text" name="name" placeholder="Ваше имя">
        <input type="tel" name="phone" placeholder="+7 (___) ___ __ __" 
               required data-mask="+7 (999) 999 99 99">

        <label class="policy-checkbox">
          <span style="text-decoration: none;">Согласен с <a href="/policy" style="text-decoration: none; color: #999 !important;" target="_blank">политикой конфиденциальности</a> и <a href="/policy" style="text-decoration: none; color: #999 !important;" target="_blank">обработкой данных</a></span>
        </label>

        
        <button type="submit">Отправить</button>
        <div class="form-message"></div>
    </form>
</div>
</section>

{% endblock %}
