{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- Секция Фото наших работ -->
<section class="works">
    <div class="container works-container">
        <h2 class="works-title">Фото наших работ</h2>
        <div class="works-gallery">
            <div class="work-item"><img src="https://picsum.photos/400/250?1" alt="Работа 1"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?2" alt="Работа 2"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?3" alt="Работа 3"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?4" alt="Работа 4"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?5" alt="Работа 5"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?6" alt="Работа 6"></div>
             
            <div class="work-item"><img src="https://picsum.photos/400/250?1" alt="Работа 1"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?2" alt="Работа 2"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?3" alt="Работа 3"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?4" alt="Работа 4"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?5" alt="Работа 5"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?6" alt="Работа 6"></div>

            <div class="work-item"><img src="https://picsum.photos/400/250?1" alt="Работа 1"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?2" alt="Работа 2"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?3" alt="Работа 3"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?4" alt="Работа 4"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?5" alt="Работа 5"></div>
            <div class="work-item"><img src="https://picsum.photos/400/250?6" alt="Работа 6"></div>
            
        </div>
    </div>
</section>



<section class="contact-section">
  <div class="contact-map">
    <!-- Вставь сюда код Яндекс карты -->
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Aexample"
      width="100%"
      height="100%"
      frameborder="0"
    ></iframe>
  </div>

  <div class="contact-form">
    <h3>Оставьте заявку</h3>
    
    <form id="callbackForm" method="post">
      {% csrf_token %}

      <label for="name">Имя:</label>
      <input type="text" id="name" name="name" placeholder="Введите ваше имя" required>

      <label for="phone">Телефон:</label>
      <input type="tel" id="phone" name="phone" placeholder="+7 (___) ___-__-__" required required data-mask="+7 (999) 999 99 99" autocomplete="off">

      <button type="submit" class="modal-btn">Отправить</button>
    </form>
  </div>
</section>

{% endblock %}