{% load static %}
<div class="wx_header g-z-index-99 g-pos-fix w-100 u-shadow-v22">
    <div class="container-semiboxed g-pos-rel wx_header_top">
        <div class="float-left g-height-50 g-width-40 g-mt-13 g-mt-17--lg d-flex align-items-center d-lg-none">
            <span class="hamburger hamburger--squeeze g-px-0 g-mt-minus-2 g-opacity-1 g-bg-primary g-transition-0_2 g-px-7 g-px-10--lg g-pt-5 g-pb-7 g-py-10--lg g-rounded-7 wx_mobile_hamburger--js">
                <span class="hamburger-box">
                    <span class="hamburger-inner g-bg-white"></span>
                </span>
            </span>
        </div>
        <a href="{% url 'home' %}" class="head_logo">
            <img src="{% static 'assets/i/logo.png' %}" class="g-pos-abs g-left-0 g-ml-2 g-ml-minus-10--lg g-top-5 g-mt-6 g-mt-4--lg g-rounded-5 wx_logo" alt="ЭВАКУАТОР - АВТО" width="64" height="64">
            <span class="d-inline-block wx_logo_pl g-pl-45 g-pl-70--lg g-pt-16 g-color-gray-dark-v3 g-font-size-13 g-line-height-1_2">
                <span class="d-block g-font-weight-600 g-color-black g-font-size-22 g-pb-5--lg">МТТ<span class="g-px-2">&ndash;</span>ЭВАКУАТОР</span>
                <span class="d-block g-pt-2">Надёжный, быстрый <span class="g-hidden-md-down"> и доступный</span></span>
            </span>
        </a>
        <div class="float-right g-pt-5">
            <div class="float-right g-height-70 g-flex-centered g-hidden-md-down g-ml-20">
                <div class="btn wx_header_order g-height-55 g-px-25 u-btn-primary g-pt-15 g-font-size-18 g-font-weight-700 g-rounded-7 g-line-height-1_2 text-uppercase" data-toggle="modal" data-target="#modal_backform">
                    Заказать <span class="g-hidden-lg-down">эвакуатор</span>
                </div>
            </div>
            <div class="float-right g-height-70 d-flex align-items-center g-mr-5--lg g-ml-10--xl wx_mob_img">
                <a class="u-link-v5 g-opacity-0_8--hover d-inline-block" href="https://t.me/evacuator_avto" onclick="return !window.open(this.href)" rel="nofollow">
                    <img src="{% static 'assets/i/telegram.svg' %}" width="30" alt="telegram">
                </a>
                <a class="u-link-v5 g-ml-3 g-opacity-0_8--hover" href="https://wa.me/message/FDTVIC6ZHJJTO1" onclick="return !window.open(this.href)" rel="nofollow">
                    <img src="{% static 'assets/i/whatsapp.svg' %}" width="30" alt="whatsapp">
                </a>
                <div class="d-inline-block g-opacity-0_8--hover g-ml-3 g-cursor-pointer" data-toggle="modal" data-target="#modal_phones">
                    <img src="{% static 'assets/i/call.svg' %}" width="30" alt="call">
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="float-left g-color-black-opacity-0_8 g-pt-12 g-hidden-md-down g-ml-30 wx_fix_div">
            <div class="g-height-50 d-flex align-items-center g-px-20 g-brd-left--md g-brd-black-opacity-0_2">
                <div>
                    <div class="g-color-black g-font-weight-700">
                        <a href="tel:+74955131347" class="u-link-v5 g-font-size-20 g-color-gray-dark-v1 g-font-weight-700 g-line-height-1_6 wx_fix_tel">+7 (495) 837-18-16</a>
                    </div>
                    <div class="g-color-gray-dark-v3 d-flex align-items-center g-font-size-15 wx_fix_txt g-hidden-md-down">
                        <img src="{% static 'assets/i/clock.svg' %}" width="18" height="18" alt="clock" class="g-mr-5">
                        <div>Круглосуточно <span class="g-hidden-lg-down">по Москве и <span class="g-hidden-xl-down">Московской</span> области</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="g-bg-primary u-shadow-v21 g-brd-top g-brd-gray-light-v4 g-hidden-lg-up">
        <div class="container g-height-45 g-px-15 d-flex align-items-center justify-content-end">
            <a href="tel:+74955131347" class="u-link-v5 g-font-size-15 g-color-white g-font-weight-700 g-mr-5">+7 (495) 837-18-16</a>
        </div>
    </div>
</div>

<!-- Navigation -->
<div class="wx_navigation"><div class="g-height-100"></div></div>
<div class="wx_navigation g-hidden-md-down g-min-height-60 u-shadow-v22">
    <div class="container-semiboxed">
        <ul class="wx_tmenu nav g-pos-rel" itemscope itemtype="http://schema.org/SiteNavigationElement">
            <li class="nav-item wx_popup--js">
                <a class="nav-link" href="{% url 'services' %}" itemprop="url">Услуги эвакуатора<i class="d-inline-block fa fa-angle-down g-ml-10 g-width-10"></i></a>
                <div class="wx_popup_div u-shadow-v22 wx_popup_div--js" itemscope itemtype="http://schema.org/SiteNavigationElement">
                    <a href="{% url 'airport' %}" class="d-block u-link-v5 g-py-5 g-font-size-15 g-font-weight-400 g-color-primary--hover" itemprop="url">Аэропорт</a>
                    <a href="{% url 'passenger' %}" class="d-block u-link-v5 g-py-5 g-font-size-15 g-font-weight-400 g-color-primary--hover" itemprop="url">Легковой эвакуатор</a>
                    <!-- Add other service links -->
                </div>
            </li>
            <!-- Add other navigation items -->
             
            <li class="nav-item"><a class="nav-link" href="{% url 'uslugi' %}" itemprop="url">Услуги Эвакуатора</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'uslugi' %}" itemprop="url">Области</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'uslugi' %}" itemprop="url">Цены</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'uslugi' %}" itemprop="url">Автосервис</a></li>
            <li class="nav-item"><a class="nav-link wx_tmenu_cur" href="{% url 'about' %}" itemprop="url">О нас</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}" itemprop="url">Контакты</a></li>
        </ul>
    </div>
</div>
<div class="wx_header_need"></div>