{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>{{ metadata.title }}</title>
    <meta name="keywords" content="{{ metadata.keywords }}">
    <meta name="description" content="{{ metadata.description }}">
    <meta property="og:url" content="{{ metadata.og_url }}">
    <meta property="og:title" content="{{ metadata.og_title }}">
    <meta property="og:image" content="{{ metadata.og_image.url|default:'https://evacuator-avto.ru/i/og_image.png' }}">
    <meta property="og:description" content="{{ metadata.og_description }}">
    <meta property="og:type" content="website">
    <link rel="canonical" href="{% url metadata.canonical_url_name %}">
{% endblock %}

{% block content %}
    <!-- B242YA Script (если нужно, вынеси в base) -->
    <script>
        (function(w,d,u){
            var s=d.createElement('script');s.defer=false;s.async=false;s.id='b242ya-script';s.src=u+'?'+(Date.now()/60000|0);
            var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://67p.b242ya.ru/static/js/b242ya.js');
        var b242yaScript = document.querySelector('#b242ya-script');
        b242yaScript.addEventListener('load', function() {
            B242YAInit({
                portal:'https://evacuatoravto.bitrix24.ru/',
                pid:'adb25cf7b188265d0c9372d6bf47bb13',
                presets:{}
            });
        });
    </script>

    <!-- Hero Section -->
    <div class="wx_bg_img g-bg-gray-dark-v1 g-pos-rel g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_8--after" style="background-image: url({{ hero.background_image.url|default:'/static/images/bg.jpg' }});" itemscope itemtype="http://schema.org/Product">
        <meta itemprop="brand" content="ЭВАКУАТОР - АВТО">
        <div class="container-semiboxed g-pos-rel g-pt-40 g-pt-70--md g-pt-100--lg g-z-index-2">
            <h1 itemprop="name" class="text-center text-md-left g-color-white g-font-weight-800 g-font-size-26 g-font-size-36--md g-font-size-h1--lg g-mb-20--lg g-pt-20--lg">
                {{ hero.title }}
            </h1>
            <div class="text-center text-md-left g-font-size-15 g-font-size-20--lg g-color-white g-mb-15 g-mb-50--md g-line-height-2" itemprop="description">
                {{ hero.description|safe }}
            </div>
            <div itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                <meta itemprop="lowPrice" content="{{ hero.low_price }}">
                <meta itemprop="priceCurrency" content="{{ hero.price_currency }}">
                <link itemprop="url" href="{% url hero.url_name %}">
                <link itemprop="availability" href="{{ hero.availability_url|default:'http://schema.org/InStock' }}">
            </div>
            <div class="row g-max-width-645 text-center text-md-left g-pb-20 g-pb-100--md">
                <div class="col-md-6 g-mt-10 g-mb-30">
                    <a class="u-link-v5 g-opacity-0_8--hover d-inline-block" href="https://t.me/evacuator_avto" onclick="return !window.open(this.href)" rel="nofollow">
                        <img src="{% static 'assets/i/telegram.svg' %}" width="40" alt="telegram">
                    </a>
                    <a class="u-link-v5 g-mx-10 g-opacity-0_8--hover" href="https://wa.me/message/FDTVIC6ZHJJTO1" onclick="return !window.open(this.href)" rel="nofollow">
                        <img src="{% static 'assets/i/whatsapp.svg' %}" width="40" alt="whatsapp">
                    </a>
                    <div class="d-inline-block g-opacity-0_8--hover g-cursor-pointer" data-toggle="modal" data-target="#modal_phones">
                        <img src="{% static 'assets/i/call.svg' %}" width="40" alt="call">
                    </div>
                </div>
                <div class="col-md-6 order-md-first g-mb-30">
                    <div class="btn g-px-25 u-btn-primary g-py-15 g-font-size-16 g-font-size-20--sm g-font-weight-700 g-rounded-7 g-line-height-1_2 text-uppercase" data-toggle="modal" data-target="#modal_backform">
                        Заказать эвакуатор
                    </div>
                </div>
            </div>
            <div class="row g-mx-minus-10 g-pb-100">
                <div class="col-6 col-md-3 g-mb-30 text-center text-xl-left g-px-10">
                    <div class="d-xl-flex">
                        <span class="d-inline-block g-bg-primary g-width-60 g-height-60 g-rounded-50 g-pa-10 g-mr-15--xl">
                            <img src="{% static 'images/design/ico/1.svg' %}" width="40" alt="1">
                        </span>
                        <div class="g-color-white g-font-size-13 g-font-size-16--lg g-font-weight-600 g-pt-7">
                            Подача в течение<br>18 минут
                        </div>
                    </div>
                </div>
                
                <div class="col-6 col-md-3 g-mb-30 text-center text-xl-left g-px-10">
                    <div class="d-xl-flex">
                        <span class="d-inline-block g-bg-primary g-width-60 g-height-60 g-rounded-50 g-pa-10 g-mr-15--xl">
                            <img src="{% static 'images/design/ico/2.svg' %}" width="40" alt="1">
                        </span>
                        <div class="g-color-white g-font-size-13 g-font-size-16--lg g-font-weight-600 g-pt-7">
                            Эвакуация любой<br>сложности
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-3 g-mb-30 text-center text-xl-left g-px-10">
                    <div class="d-xl-flex">
                        <span class="d-inline-block g-bg-primary g-width-60 g-height-60 g-rounded-50 g-pa-10 g-mr-15--xl">
                            <img src="{% static 'images/design/ico/3.svg' %}" width="40" alt="1">
                        </span>
                        <div class="g-color-white g-font-size-13 g-font-size-16--lg g-font-weight-600 g-pt-7">
                            Доступно<br>для каждого
                        </div>
                    </div>
                </div>

                <div class="col-6 col-md-3 g-mb-30 text-center text-xl-left g-px-10">
                    <div class="d-xl-flex">
                        <span class="d-inline-block g-bg-primary g-width-60 g-height-60 g-rounded-50 g-pa-10 g-mr-15--xl">
                            <img src="{% static 'images/design/ico/4.svg' %}" width="40" alt="1">
                        </span>
                        <div class="g-color-white g-font-size-13 g-font-size-16--lg g-font-weight-600 g-pt-7">
                            Гарантия подачи<br>эвакуатора
                        </div>
                    </div>
                </div>

               
                <!-- Добавь остальные 3 иконки аналогично -->
            </div>
        </div>
    </div>

    <!-- Districts Section -->
    <div class="container-semiboxed">
        <div class="g-pos-rel g-mt-minus-80 g-z-index-2 g-py-30 g-bg-white g-rounded-15 g-px-15 wx_div_points more_parent--js">
            <div class="row">
                <div class="col-lg-4 d-flex align-items-center g-color-black g-font-weight-700 g-font-size-18 g-mb-10 g-pl-30--lg">
                    <img src="{% static 'assets/i/point.svg' %}" width="30" alt="i" class="g-mr-10">Выберите точку
                </div>
                <div class="col-lg-8">
                    <div class="row" itemscope itemtype="http://schema.org/SiteNavigationElement">
                        <div class="col-sm-6 g-px-25 g-font-size-16 g-pl-35--lg">
                            {% for district in districts|slice:":3" %}
                                <div class="g-py-6 g-pos-rel g-pl-15"><i class="wx_div_x"></i><a href="{% url district.url_name %}" class="u-link-v1 g-color-gray-dark-v3 g-color-primary--hover" itemprop="url">{{ district.name }}</a></div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-6 g-px-25 g-font-size-16">
                            {% for district in districts|slice:"3:" %}
                                <div class="g-py-6 g-pos-rel g-pl-15"><i class="wx_div_x"></i><a href="{% url district.url_name %}" class="u-link-v1 g-color-gray-dark-v3 g-color-primary--hover" itemprop="url">{{ district.name }}</a></div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="g-height-50"></div>
    </div>

    <!-- How to Order Section -->
    <div class="container-semiboxed">
        <div class="g-py-10">
            <div class="container-semiboxed g-pb-15">
                <h2>Как заказать услугу<br> в Москве?</h2>
                <div class="g-pos-rel"><div class="wx_pix"></div></div>
                <div class="g-mx-minus-15 g-pb-50 g-pb-30--xl wx_test_slider js-carousel" data-slides-show="4" data-slides-scroll="4" data-infinite="false" data-arrows-classes="u-arrow-v1 wx_test_arrows g-pos-abs g-bg-white wx_test_shadow g-font-size-16 g-z-index-2 g-transition-0_2" data-arrow-left-classes="icon-arrow-left wx_test_arrows_left" data-arrow-right-classes="icon-arrow-right wx_test_arrows_right" data-responsive='[{ "breakpoint": 1200, "settings": { "slidesToShow": 3, "slidesToScroll": 3 } },{ "breakpoint": 992, "settings": { "slidesToShow": 2, "slidesToScroll": 2 } }, { "breakpoint": 767, "settings": { "slidesToShow": 1, "slidesToScroll": 1 } }]' >
                    {% for step in order_steps %}
                        <div>
                            <div class="g-height-90 g-pr-50 g-mb-15 g-pos-rel">
                                <img src="{{ step.number_icon.url }}" alt="x" width="42" height="42" class="g-pos-abs g-right-minus-10 g-top-minus-10">
                                <img src="{{ step.icon.url }}" alt="i" width="85" height="85">
                            </div>
                            <div class="g-color-primary g-font-size-16 g-font-size-18--md g-font-weight-700 g-mb-5 text-uppercase">{{ step.title }}</div>
                            <div class="g-font-size-16">{{ step.description }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

   <!-- Form Section 1 -->
<div class="wx_bg_img g-bg-gray-dark-v1 g-pos-rel g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_8--after" 
     style="background-image: url({{ form_configs.0.background_image.url|default:'/static/images/design/bg/2.jpg' }});">

    <div class="container-semiboxed g-pos-rel g-py-30 g-py-60--md g-z-index-2 ajax_form--js">
        <form class="ajax_form" method="post" action="{% url 'submit_form' %}">
            {% csrf_token %}
            <input type="hidden" name="f_vid" value="{{ form_configs.0.f_vid|default:'2' }}">
            <input type="hidden" name="page_id" value="{{ form_configs.0.page_id|default:'7' }}">
            <input type="hidden" name="dop_id" value="{{ form_configs.0.dop_id|default:'0' }}">

            <h3 class="h1 g-color-white g-pb-20">{{ form_configs.0.title|safe }}</h3>

            <div class="row g-pt-20">
                <div class="col-sm-6 col-lg-3 g-mb-15 g-mb-25--sm">
                    <input class="form-control g-height-55 g-font-size-16 g-font-weight-600 g-color-black g-bg-white g-bg-white--focus g-brd-white g-brd-primary--focus g-rounded-7" 
                           type="text" name="f_name" placeholder="Ваше имя" required autocomplete="off">
                </div>

                <div class="col-sm-6 col-lg-3 g-mb-15 g-mb-25--sm">
                    <input class="form-control g-height-55 g-font-size-16 g-font-weight-700 g-color-black g-bg-white g-bg-white--focus g-brd-white g-brd-primary--focus g-rounded-7" 
                           type="tel" name="f_phone" placeholder="+7 (___) ___ __ __" required data-mask="+7 (999) 999 99 99" autocomplete="off">
                </div>

                <div class="col-sm-6 col-lg-3 g-mb-15 g-mb-25--sm">
                    <input class="form-control g-height-55 g-font-size-16 g-font-weight-600 g-color-black g-bg-white g-bg-white--focus g-brd-white g-brd-primary--focus g-rounded-7" 
                           type="text" name="f_auto" placeholder="Авто" required autocomplete="off">
                </div>
                <input type="hidden" id="g_recaptcha_response" name="g_recaptcha_response" value="">


                <div class="col-sm-6 col-lg-3 g-mb-15 g-mb-25--sm">
                    <button type="submit"
                            class="btn wx_header_order g-height-55 g-px-25 u-btn-primary 
                                   g-font-size-18 g-font-weight-700 g-rounded-7 text-uppercase 
                                   w-100 d-flex justify-content-center align-items-center">
                        Отправить
                    </button>
                </div>
            </div>

            <div class="g-color-white-opacity-0_6 g-font-size-12 g-mb-25 text-right">
                Нажимая на кнопку, Вы даете свое согласие 
                <a href="{% url 'privacy_policy' %}" class="u-link-v1 g-color-white">на обработку персональных данных</a>
            </div>

            <!-- место для сообщений формы -->
            <div class="form-feedback" style="margin-top:10px;"></div>

            <div class="g-font-size-20 g-color-white g-pb-5">Или позвоните нам:</div>

            <div class="d-flex align-items-center">
                <div class="g-mr-20">
                    <a href="tel:+74955131347" 
                       class="u-link-v5 g-font-size-20 g-font-size-28--md g-color-white g-font-weight-700 g-line-height-1_6">
                        +7 (495) 513-13-47
                    </a>
                </div>

                <div class="d-flex align-items-center g-ml-10">
                    <a class="u-link-v5 g-opacity-0_8--hover d-inline-block" 
                       href="https://t.me/evacuator_avto" 
                       onclick="return !window.open(this.href)" rel="nofollow">
                        <img src="{% static 'assets/i/telegram.svg' %}" width="40" alt="telegram">
                    </a>

                    <a class="u-link-v5 g-mx-10 g-opacity-0_8--hover" 
                       href="https://wa.me/message/FDTVIC6ZHJJTO1" 
                       onclick="return !window.open(this.href)" rel="nofollow">
                        <img src="{% static 'assets/i/whatsapp.svg' %}" width="40" alt="whatsapp">
                    </a>

                    <div class="d-inline-block g-opacity-0_8--hover g-cursor-pointer" 
                         data-toggle="modal" data-target="#modal_phones">
                        <img src="{% static 'assets/i/call.svg' %}" width="40" alt="call">
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


    <!-- Video Reviews Section -->
    <div class="g-bg-secondary">
        <div class="container-semiboxed g-pt-30">
            <div class="g-pb-15 wx_txt_style wx_offer_btn">
                <h2 class="text-center">Видеоотзывы</h2>
            </div>
            <div class="g-mx-minus-15 g-pb-60 g-pb-25--xl wx_slick_slider js-carousel" data-slides-show="3" data-slides-scroll="3" data-infinite="true" data-arrows-classes="u-arrow-v1 wx_slick_arrows g-pos-abs g-bg-white g-font-size-16 g-z-index-2 g-transition-0_2" data-arrow-left-classes="icon-arrow-left wx_slick_arrows_left" data-arrow-right-classes="icon-arrow-right wx_slick_arrows_right" data-responsive='[{ "breakpoint": 992, "settings": { "slidesToShow": 2, "slidesToScroll": 2 } }, { "breakpoint": 767, "settings": { "slidesToShow": 1, "slidesToScroll": 1, "dots": false } }]' >
                {% for review in video_reviews %}
                    <div class="g-px-15">
                        <a class="d-inline-block g-pos-rel g-rounded-15 u-block-hover"
                           data-fancybox="video-review"
                           data-type="iframe"
                           href="{{ review.youtube_url }}">
                            <img class="w-100 m-auto g-rounded-15 lazy"
                                 src="{% static 'assets/i/lazy/white/600x400.png' %}"
                                 data-src="{% if review.thumbnail %}{{ review.thumbnail.url }}{% else %}{% static 'images/video/default.jpg' %}{% endif %}"
                                 alt="{{ review.title }}"
                                 style="width:100%; aspect-ratio:416/277; object-fit:cover; object-position:center; border-radius:15px;">
                            <span class="u-block-hover__additional--fade g-bg-black-opacity-0_1 g-color-white"></span>
                            <img class="g-absolute-centered" src="{% static 'assets/i/youtube.svg' %}" alt="y">
                        </a>
                        <div class="g-pt-10 g-font-size-16 g-font-size-18--lg g-color-gray-dark-v1 g-font-weight-600">{{ review.title }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- Photo Gallery Section -->
    <div class="g-bg-secondary">
        <div class="container-semiboxed">
            <div class="g-py-40">
                <h2>Фото наших работ</h2>
                    <div class="row" id="photo-gallery">
                        {% for photo in photos %}
                            <div class="col-md-6 col-lg-4 g-mb-30 photo-item" data-animation="fadeIn" data-animation-delay="0" data-animation-duration="1000">
                                <a class="u-block-hover d-inline-block g-pos-rel g-rounded-15" data-fancybox="lightbox-primer" href="{{ photo.image.url }}" data-speed="350" data-caption="{{ photo.caption }}">
                                    <img class="w-100 m-auto g-rounded-15 lazy"
                                        src="{% static 'assets/images/lazy/white/600x400.png' %}"
                                        data-src="{{ photo.image.url }}"
                                        alt="{{ photo.caption }}"
                                        style="width:100%; aspect-ratio:416/277; object-fit:cover; object-position:center; border-radius:15px;">
                                    <span class="u-block-hover__additional--fade g-bg-black-opacity-0_1 g-color-white">
                                        <i class="hs-icon hs-icon-magnifier g-absolute-centered g-font-size-25"></i>
                                    </span>
                                </a>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="text-center g-pt-10">
                        <div id="load-more-btn" class="btn g-height-55 g-px-35 g-min-width-220 u-btn-primary g-pt-15 g-font-size-18 g-font-weight-700 g-rounded-7 g-line-height-1_2 text-uppercase">
                            Загрузить ещё
                        </div>
                    </div>
            </div>
        </div>
    </div>


    <!-- Form Section 2 -->
    <div class="wx_bg_img g-bg-gray-dark-v1 g-pos-rel g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_8--after" style="background-image: url({{ form_configs.1.background_image.url|default:'/static/images/design/bg/3.jpg' }});">
        <!-- Аналогично первой форме, но с заголовком "Обслуживание 24 часа" -->
    </div>

    <!-- Price Table Section -->
    <div class="g-bg-secondary">
        <div class="container-semiboxed g-py-10"></div>
    </div>
    <div class="container-semiboxed g-py-20">
        <h3 class="h2 g-mb-10">Прайс-лист на услуги эвакуатора</h3>
        <table class="table table-bordered table-striped">
            <tbody>
                {% for price in prices %}
                    <tr>
                        <td class="g-pl-15--lg">{{ price.service }}</td>
                        <td class="text-right"><span class="g-color-black g-font-size-16--lg g-font-weight-600">{{ price.price }}</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="g-height-40"></div>
    </div>

    <!-- Services Section -->
    <div class="container-semiboxed g-py-20">
        <h2>Вызвать эвакуатор в Москве</h2>
        <div class="row g-py-10">
            <div class="col-lg-6 g-mb-30 g-mb-0--lg">
                <div class="g-pb-15 wx_txt_style wx_offer_btn">
                    <!-- Текст о услугах -->
                    <p>{{ services.0.description }}</p>
                    <div class="btn u-btn-lightred g-py-10 g-font-size-15 g-px-25 g-font-weight-600" data-toggle="modal" data-target="#modal_phones">Заказать эвакуатор</div>
                    <div class="g-color-gray-dark-v1 g-pt-20">Подача в течение <strong>18 минут</strong></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wx_slick_slider_div mx-auto text-center" itemscope itemtype="http://schema.org/ImageObject">
                    <img class="w-100 square-crop m-auto g-rounded-15" src="{{ services.0.image.url|default:'/static/i/primer/sm/251.jpg' }}" alt="{{ services.0.title }}" itemprop="contentUrl">
                    <meta itemprop="name" content="{{ services.0.title }}">
                </div>
            </div>
        </div>
    </div>

    <!-- Why Choose Us Section -->
    <div class="g-bg-secondary">
        <div class="container-semiboxed">
            <div class="wx_bg_img g-bg-gray-dark-v1 g-pos-rel g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_8--after" style="background-image: url({% static 'images/design/bg/1.jpg' %});">
                <div class="container-semiboxed g-pos-rel g-py-30 g-py-50--md g-z-index-2">
                    <div class="h1 g-color-white g-pb-40">Почему выбирают<br><span class="text-lowercase">ЭВАКУАТОР - АВТО?</span></div>
                    <div class="row">
                        {% for why in why_choose_us %}
                            <div class="col-lg-6 g-mb-15 g-mb-30--md">
                                <div class="h-100 g-bg-white g-pa-20 g-pa-30--md g-pos-rel g-rounded-15 g-pl-100--md g-pr-40--xl">
                                    {% if why.icon %}
                                        <img src="{{ why.icon.url }}" alt="i" class="g-pos-abs g-left-10 g-ml-5 g-ml-20--md g-mt-10--md">
                                    {% else %}
                                        <img src="" alt="i" class="g-pos-abs g-left-10 g-ml-5 g-ml-20--md g-mt-10--md">
                                    {% endif %}
                                    <div class="wx_fix_why text-uppercase g-font-weight-700 g-color-primary g-font-size-16 g-font-size-18--md g-mb-5 g-pl-60 g-pl-10--md">{{ why.title }}</div>
                                    <div class="g-font-size-16 g-font-size-18--md g-pl-10--md">{{ why.description }}</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Description Section -->
    <div class="container-semiboxed g-py-20">
        <h2>{{ services.1.title }}</h2>
        <div class="g-pb-15 wx_txt_style wx_offer_btn">
            <p>{{ services.1.description }}</p>
        </div>
    </div>

 <!-- Calculator Section -->
<div class="container-semiboxed g-mb-20">
  <div class="container-semiboxed g-mb-20">
  <h2 class="g-pt-15">Онлайн калькулятор для расчёта стоимости эвакуатора</h2>
  <div class="g-pt-5 g-pb-10 g-mx-minus-15 g-mx-0--md" id="clc_form">
    <div class="g-brd-around g-brd-gray-light-v4 g-py-20 g-pt-30--md g-px-20 g-px-40--md g-bg-secondary g-rounded-15 clt_form--js">
      
      <!-- Переключатель -->
      <div class="row g-mb-15">
        <div class="col-lg-6 g-mb-10">
          <div class="d-inline-block g-px-25 g-rounded-7 g-py-10 g-brd-around g-brd-primary g-transition-0_2 g-font-weight-600 g-font-size-16 g-bg-primary g-color-white clt_vk--js" data-vk="1">ЭВАКУАТОР</div>
          <div class="d-inline-block g-px-25 g-rounded-7 g-py-10 g-brd-around g-brd-gray-light-v3 g-transition-0_2 g-font-weight-600 g-font-size-16 g-bg-white g-color-black clt_vk--js" data-vk="2">МАНИПУЛЯТОР</div>
        </div>
      </div>

      <form class="clt_form" action="{% url 'submit_form' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="clt_vk" id="clt_vk" value="1">

        <div class="row">
          <!-- Вид авто -->
          <div class="col-lg-4 g-mb-20">
            <div class="g-pb-10 g-font-size-16 g-color-black">Выберите вид авто</div>
            <select class="custom-select g-height-55 g-px-15 g-color-black g-font-size-16 g-font-weight-600 g-brd-gray-light-v3 g-rounded-7 clt_vid--js" id="clt_vid" name="clt_vid">
              <option value="1" data-base-price="2000" data-per-km="50" data-min-price="4000" selected>Седан</option>
              <option value="2" data-base-price="1800" data-per-km="40" data-min-price="3500">Мотоцикл</option>
              <option value="3" data-base-price="2500" data-per-km="60" data-min-price="4500">Кроссовер</option>
              <option value="4" data-base-price="2700" data-per-km="65" data-min-price="4700">Минивен</option>
              <option value="5" data-base-price="3000" data-per-km="70" data-min-price="5000">Внедорожник</option>
              <option value="6" data-base-price="4000" data-per-km="80" data-min-price="6500">Премиум класс</option>
              <option value="7" data-base-price="4500" data-per-km="90" data-min-price="7000">Спорт класс</option>
              <option value="8" data-base-price="3500" data-per-km="75" data-min-price="6000">Микроавтобус</option>
              <option value="9" data-base-price="5000" data-per-km="100" data-min-price="8000">Коммерческий транспорт</option>
              <option value="10" data-base-price="5500" data-per-km="120" data-min-price="9000">Лёгкая спецтехника до 5 тонн</option>
            </select>
          </div>

          <!-- Категория -->
          <div class="col-lg-4 g-mb-20">
            <div class="g-pb-10 g-font-size-16 g-color-black">Выберите категорию</div>
            <select class="custom-select g-height-55 g-px-15 g-color-black g-font-size-16 g-font-weight-600 g-brd-gray-light-v3 g-rounded-7 clt_cat--js" id="clt_cat" name="clt_cat">
              <option value="1">Седан до 2 тонн</option>
              <option value="2">Седан до 3 тонн</option>
            </select>
          </div>

          <!-- Заблокированные колёса -->
          <div class="col-lg-4 g-mb-20">
            <div class="g-pb-10 g-font-size-16 g-color-black">Заблокированных колёс</div>
            <select class="custom-select g-height-55 g-px-15 g-color-black g-font-size-16 g-font-weight-600 g-brd-gray-light-v3 g-rounded-7 clt_wheels--js" id="clt_wheels" name="clt_wheels" data-price="1500">
              <option value="0" selected>0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </div>
        </div>

        <!-- Карта + расстояние -->
        <div class="row">
          <div class="col-lg-8 g-mb-20">
            <div id="map_map" class="w-100" style="height:300px;"></div>
          </div>
          <div class="col-lg-4 g-mb-20">
            <div class="g-pb-10 g-font-size-16 g-color-black">Расстояние, км</div>
            <input type="text" class="form-control g-height-55 g-font-size-16 g-rounded-7 clt_km--js" name="distance" readonly value="0">
          </div>
        </div>

        <!-- Дополнительные параметры -->
        <div class="g-pb-15 g-color-black g-font-size-20 g-font-weight-600">Дополнительные параметры</div>
        <div class="row">
          <div class="col-md-4"><label class="u-check g-pl-25"><input type="checkbox" name="extra[]" value="no_hook" data-price="500" class="clt_extra--js"> Нет буксировочного крюка</label></div>
          <div class="col-md-4"><label class="u-check g-pl-25"><input type="checkbox" name="extra[]" value="need_boost" data-price="600" class="clt_extra--js"> Необходимо прикурить авто</label></div>
          <div class="col-md-4"><label class="u-check g-pl-25"><input type="checkbox" name="extra[]" value="steering_locked" data-price="700" class="clt_extra--js"> Заблокирован руль</label></div>
          <div class="col-md-4"><label class="u-check g-pl-25"><input type="checkbox" name="extra[]" value="underground" data-price="1000" class="clt_extra--js"> ТС в подземном паркинге</label></div>
          <div class="col-md-4"><label class="u-check g-pl-25"><input type="checkbox" name="extra[]" value="low_clearance" data-price="800" class="clt_extra--js"> Клиренс менее 15 см</label></div>
          <div class="col-md-4"><label class="u-check g-pl-25"><input type="checkbox" name="extra[]" value="row_parking" data-price="500" class="clt_extra--js"> Автомобиль в ряду</label></div>
        </div>

        <hr class="g-my-20">

        <!-- Контактные данные -->
        <h4>Контактные данные</h4>
        <div class="row">
          <div class="col-md-6 col-lg-4 g-mb-15">
            <input class="form-control g-height-55 g-font-size-16 g-color-black g-brd-gray-light-v3 g-rounded-7" type="text" name="f_name" placeholder="Ваше имя" required>
          </div>
          <div class="col-md-6 col-lg-4 g-mb-15">
            <input class="form-control g-height-55 g-font-size-16 g-color-black g-brd-gray-light-v3 g-rounded-7" type="tel" name="f_phone" placeholder="+7(___)___-__-__" required>
          </div>
        </div>

        <!-- Дополнительные опции -->
        <div class="form-check g-mb-10">
          <input type="checkbox" class="form-check-input clt_datetime--js" id="with_datetime">
          <label class="form-check-label" for="with_datetime">Заказать на точную дату/время</label>
        </div>
        <div id="datetime_block" class="row g-mt-10" style="display:none;">
          <div class="col-md-6 g-mb-10"><input type="date" class="form-control g-height-55 g-rounded-7" name="order_date"></div>
          <div class="col-md-6 g-mb-10"><input type="time" class="form-control g-height-55 g-rounded-7" name="order_time"></div>
        </div>

        <div class="form-check g-mb-10">
          <input type="checkbox" class="form-check-input clt_additional--js" id="with_additional_phone">
          <label class="form-check-label" for="with_additional_phone">Указать дополнительный номер</label>
        </div>
        <div id="additional_phone_block" class="row g-mt-10" style="display:none;">
          <div class="col-md-6 g-mb-10"><input type="text" class="form-control g-height-55 g-rounded-7" name="extra_name" placeholder="Доп. имя"></div>
          <div class="col-md-6 g-mb-10"><input type="tel" class="form-control g-height-55 g-rounded-7" name="extra_phone" placeholder="Доп. телефон"></div>
        </div>

        <!-- Итог -->
        <div class="row g-mb-15 g-mt-20">
          <div class="col-md-6 col-lg-4 g-mb-20 g-mt-minus-3">
            <div class="g-min-height-60 g-font-size-18 g-color-gray-dark-v1">
              Стоимость эвакуации:<br> 
              <span class="g-nowrap"><strong class="clt_sum--js g-font-size-26">0</strong> руб.</span>
              <s class="d-none clt_old--js">0</s>
            </div>
          </div>
          <div class="col-md-6 col-lg-8 g-mb-20">
            <textarea class="form-control g-rounded-7" name="f_comment" placeholder="Комментарий"></textarea>
          </div>
        </div>

        <!-- Кнопка -->
        <button type="submit" class="btn btn-danger g-font-weight-600">ОФОРМИТЬ ЗАЯВКУ</button>
        <div class="form-feedback g-mt-15"></div>
      </form>
    </div>
  </div>
</div>

    <!-- Additional Content Section -->
    <div class="g-py-30 g-py-50--lg">
        <div class="row g-py-10">
            <div class="col-lg-6 g-mb-20">
                <div itemscope itemtype="http://schema.org/ImageObject">
                    <img class="w-100 square-crop g-rounded-15 lazy" src="{% static 'assets/i/lazy/gray/3x2.png' %}" data-src="{{ services.1.image.url|default:'/i/figure/sm/127.jpg' }}" alt="{{ services.1.title }}" itemprop="contentUrl">
                    <meta itemprop="name" content="{{ services.1.title }}">
                </div>
            </div>
            <div class="col-lg-6 g-mb-30 g-mb-0--lg">
                <div class="g-pb-15 wx_txt_style">
                    <div class="g-pb-15 wx_txt_style wx_offer_btn">
                        <p>{{ services.1.description }}</p>
                        <div class="btn u-btn-lightred g-py-10 g-font-size-15 g-px-25 g-font-weight-600" data-toggle="modal" data-target="#modal_phones">Заказать эвакуатор</div>
                        <div class="g-color-gray-dark-v1 g-pt-20">Подача в течение <strong>18 минут</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQ Section -->
    <div class="container-semiboxed g-py-30 g-pt-80--lg">
        <div class="row g-mb-10--lg">
            <div class="col-lg-8">
                <div class="h2">Часто задаваемые вопросы</div>
            </div>
            <div class="col-lg-4 text-right g-hidden-md-down">
                <div class="btn g-height-55 g-px-45 u-btn-primary g-pt-15 g-font-size-18 g-font-weight-700 g-rounded-7 g-line-height-1_2 text-uppercase question--js">Задать вопрос</div>
            </div>
        </div>
        <div class="u-accordion u-accordion-bg-primary" id="accordion_5" itemscope itemtype="https://schema.org/FAQPage">
            {% for faq in faqs %}
                <div class="card g-brd-none g-mb-20" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                    <div id="accordion-heading-{{ forloop.counter }}" class="u-accordion__header g-pa-0">
                        <a class="d-flex justify-content-between g-bg-secondary g-text-underline--none--hover g-brd-around g-brd-gray-light-v4 g-rounded-10" href="#accordion-body-{{ forloop.counter }}" data-toggle="collapse" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="accordion-body-{{ forloop.counter }}">
                            <h3 class="w-100 d-flex justify-content-between g-px-20 g-py-15 g-mb-0 g-font-size-18 g-font-weight-600 g-color-black">
                                <span itemprop="name">{{ faq.question }}</span>
                                <span class="u-accordion__control-icon g-font-size-22 g-mt-minus-5 g-mb-minus-5 g-ml-10">
                                    <i class="fa fa-angle-down"></i>
                                    <i class="fa fa-angle-up"></i>
                                </span>
                            </h3>
                        </a>
                    </div>
                    <div id="accordion-body-{{ forloop.counter }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="accordion-heading-{{ forloop.counter }}" itemscope itemprop="acceptedAnswer" itemtype="http://schema.org/Answer">
                        <div class="u-accordion__body g-pa-20" itemprop="text">
                            <p>{{ faq.answer|safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="g-hidden-lg-up g-py-10">
            <div class="btn w-100 g-height-55 g-px-45 u-btn-primary g-pt-15 g-font-size-18 g-font-weight-700 g-rounded-7 g-line-height-1_2 text-uppercase question--js">Задать вопрос</div>
        </div>
    </div>

    <!-- Rating Section -->
    <div class="g-bg-secondary g-pt-40">
        <div class="container-semiboxed">
            <div itemscope itemtype="https://schema.org/LocalBusiness">
                <meta itemprop="name" content="ЭВАКУАТОР - АВТО">
                <link itemprop="image" href="{% static 'apple-touch-icon-120x120.png' %}">
                <input type="hidden" id="rate_p" value="{{ rating.page_id|default:'7' }}">
                <input type="hidden" id="rate_d" value="0">
                <div class="row g-pb-20 align-items-center">
                    <div class="col-xl-6 g-mb-30 g-font-size-20 g-font-size-24--md g-font-weight-700">
                        <div class="d-xl-flex">
                            <img src="{% static 'assets/i/rating.svg' %}" alt="Оцените" class="g-mr-40 g-mb-10 g-mb-0--xl">
                            <div>Оцените качество информации<br> на этой странице</div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3 g-mb-15">
                        <ul class="js-rating u-rating-v1 g-font-size-26 g-line-height-0 g-color-gray-light-v3 rating--js" data-hover-classes="g-color-yellow">
                            <li data-val="1" class="g-color-yellow"><i class="fa fa-star" title="Плохо"></i></li>
                            <!-- ... остальные звёзды -->
                        </ul>
                    </div>
                    <div class="col-md-6 col-xl-3 g-mb-15">
                        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                            <meta itemprop="itemReviewed" content="{{ rating.item_reviewed }}">
                            <meta itemprop="worstRating" content="{{ rating.worst_rating }}">
                            <div class="g-font-size-18">
                                Рейтинг <span itemprop="ratingValue" class="g-font-weight-700 rating_star--js">{{ rating.rating_value }}</span><br>
                                Всего <span itemprop="reviewCount" class="rating_count--js">{{ rating.review_count }}</span> <span class="rating_noun--js">оценок</span><span class="g-color-black rating_golos--js d-none">, Ваш голос учтён</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Urgent Order Form -->
    <div class="wx_bg_img g-bg-gray-dark-v1 g-pos-rel g-bg-cover g-bg-pos-center g-bg-img-hero g-bg-black-opacity-0_8--after" style="background-image: url({{ form_configs.2.background_image.url|default:'/static/images/design/bg/1.jpg' }});">
        <div class="container-semiboxed g-pos-rel g-py-30 g-py-60--md g-z-index-2 ajax_form--js">
            <form class="ajax_form" action="javascript:void(0);">
                <input type="hidden" name="f_vid" value="{{ form_configs.2.f_vid|default:'2' }}">
                <input type="hidden" name="page_id" value="{{ form_configs.2.page_id|default:'7' }}">
                <input type="hidden" name="dop_id" value="{{ form_configs.2.dop_id|default:'0' }}">
                <h3 class="h1 g-color-white g-pb-20">{{ form_configs.2.title|safe }}</h3>
                <div class="row g-pt-20">
                    <div class="col-sm-6 col-lg-3 g-mb-15 g-mb-25--sm">
                        <input class="form-control g-height-55 g-font-size-16 g-font-weight-600 g-color-black g-bg-white g-bg-white--focus g-brd-white g-brd-primary--focus rounded g-py-15 g-px-15 g-px-20--lg g-rounded-7" type="text" name="f_name" placeholder="Ваше имя" required autocomplete="off">
                    </div>
                    <!-- Добавь остальные поля формы -->
                </div>
                <div class="g-color-white-opacity-0_6 g-font-size-12 g-mb-25 text-right">
                    Нажимая на кнопку, Вы даете свое согласие <a href="{% url 'privacy_policy' %}" class="u-link-v1 g-color-white">на обработку персональных данных</a>
                </div>
                <div class="g-font-size-20 g-color-white g-pb-5">Или позвоните нам:</div>
                <div class="d-flex">
                    <div class="g-mr-20">
                        <a href="tel:+74955131347" class="u-link-v5 g-font-size-20 g-font-size-28--md g-color-white g-font-weight-700 g-line-height-1_6">+7 (495) 513-13-47</a>
                    </div>
                    <!-- Социальные ссылки -->
                </div>
            </form>
        </div>
    </div>
<script>
(function($){
  "use strict";

  // --- UTILS ---
  function showFormMessage($form, text, ok){
      var $box = $form.find('.form-feedback');
      if(!$box.length){
          $box = $('<div class="form-feedback" style="margin-top:10px;"></div>');
          $form.append($box);
      }
      $box.css({
          'padding': '10px',
          'border-radius': '6px',
          'color': ok ? '#155724' : '#721c24',
          'background-color': ok ? '#d4edda' : '#f8d7da',
          'border': ok ? '1px solid #c3e6cb' : '1px solid #f5c6cb',
          'font-weight': '600'
      }).text(text).show();
      if(ok){
          setTimeout(function(){ $box.fadeOut(); }, 4000);
      }
  }

  $(document).ready(function(){

    // ====== Показ/скрытие доп. блоков ======
    $(".clt_datetime--js").on("change", function(){
      $("#datetime_block").slideToggle(this.checked);
    });

    $(".clt_additional--js").on("change", function(){
      $("#additional_phone_block").slideToggle(this.checked);
    });

    // ====== Калькулятор ======
    const DEFAULTS = {
      basePrice_vk1: 2000,
      basePrice_vk2: 3000,
      perKm_vk1: 50,
      perKm_vk2: 80,
      minPrice_vk1: 4000,
      minPrice_vk2: 6000,
      wheelPrice: 1500
    };

    function parseNumber(str){
      if(typeof str === 'number') return str;
      if(!str) return 0;
      return parseFloat(String(str).replace(/\s+/g,'').replace(/,/g,'.')) || 0;
    }

    function recalcCalculator($form){
      var vk = parseInt($form.find('#clt_vk').val() || 1);
      var selectedVid = $form.find('#clt_vid option:selected');
      var basePrice = parseNumber(selectedVid.data('base-price')) || (vk===2 ? DEFAULTS.basePrice_vk2 : DEFAULTS.basePrice_vk1);
      var perKm = parseNumber(selectedVid.data('per-km')) || (vk===2 ? DEFAULTS.perKm_vk2 : DEFAULTS.perKm_vk1);
      var minPrice = parseNumber(selectedVid.data('min-price')) || (vk===2 ? DEFAULTS.minPrice_vk2 : DEFAULTS.minPrice_vk1);

      var km = parseNumber($form.find(".clt_km--js").val());

      var extras = 0;
      $form.find("input[type='checkbox'][data-price].clt_extra--js").each(function(){
        if($(this).is(":checked")){
          extras += parseNumber($(this).data("price"));
        }
      });

      var wheels = parseNumber($form.find('#clt_wheels').val());
      var wheelExtra = wheels * DEFAULTS.wheelPrice;

      extras += wheelExtra;

      var sum = basePrice + (perKm * km) + extras;
      if(sum < minPrice) sum = minPrice;
      sum = Math.ceil(sum / 100) * 100;

      $form.find(".clt_sum--js").text(sum.toLocaleString());

      return { total: sum };
    }

    // Слушатели изменений
    $(document).on('change keyup input', '.clt_vid--js, .clt_cat--js, .clt_wheels--js, .clt_km--js, .clt_extra--js, .clt_vk--js', function(){
      var $form = $(this).closest(".clt_form");
      recalcCalculator($form);
    });

    $(".clt_form").each(function(){ recalcCalculator($(this)); });

    // AJAX-отправка формы калькулятора
    $(document).on("submit", ".clt_form", function(e){
      e.preventDefault();
      var $form = $(this);
      var calc = recalcCalculator($form);
      var data = $form.serializeArray();
      data.push({name: 'calc_total', value: calc.total});

      var csrftoken = document.cookie.match(/csrftoken=([^;]+)/)?.[1] || '';

      var $msgBox = $form.find('.form-feedback');
      if(!$msgBox.length) $msgBox = $("<div class='form-feedback'/>").appendTo($form);
      $msgBox.text("Отправка заявки...").css({'color':'#000'});

      $.ajax({
    url: $form.attr("action") || "{% url 'submit_calculator' %}",
    method: "POST",
    data: $.param(data),
    headers: { "X-CSRFToken": csrftoken },
    dataType: "json",
    success: function(resp){
        if(resp && resp.success){
            $msgBox.text(resp.message || "Заявка отправлена");
            $form[0].reset();
            $("#datetime_block, #additional_phone_block").hide();
            recalcCalculator($form);
        } else {
            $msgBox.text(resp.message || "Ошибка при отправке").css({'color':'#900'});
        }
    },
    error: function(xhr,status,err){
        console.error("Ошибка отправки:", status, err);
        $msgBox.text("Ошибка при отправке. Попробуйте позже.").css({'color':'#900'});
    }
});

    // ====== Yandex Maps для расчёта расстояния ======
    ymaps.ready(init);
    function init(){
      var myMap = new ymaps.Map("map_map", {
        center: [55.755864, 37.617698],
        zoom: 9,
        controls: ["fullscreenControl"],
        behaviors: ["default", "scrollZoom", "drag"]
      });

      var routePanelControl = new ymaps.control.RoutePanel({
        options: {
          maxWidth: "280px", 
          autofocus: false
        }
      });

      var zoomControl = new ymaps.control.ZoomControl({
        options: {
          size: "small",
          float: "none",
          position: {
            bottom: 45,
            right: 10
          }
        }
      });

      var trafficControl = new ymaps.control.TrafficControl({ state: {
        providerKey: "traffic#actual",
        trafficShown: true
      }});

      myMap.controls.add(trafficControl);
      trafficControl.getProvider("traffic#actual").state.set("infoLayerShown", true);

      routePanelControl.routePanel.options.set({
        types: {auto: true}
      });

      myMap.controls.add(routePanelControl).add(zoomControl);

      routePanelControl.routePanel.getRouteAsync().then(function (route) {
        route.model.setParams({results: 1}, true);

        route.model.events.add("requestsuccess", function () {
          var activeRoute = route.getActiveRoute();
          if (activeRoute) {
            var length = activeRoute.properties.get("distance");
            var km = Math.round(length.value / 1000);
            if (km < 1) km = 1;
            $(".clt_km--js").val(km);
            recalcCalculator($(".clt_form"));
          }
        });
      });

      routePanelControl.routePanel.state.events.add("change", function () {
        var fromValue = routePanelControl.routePanel.state.get("from");
        var toValue = routePanelControl.routePanel.state.get("to");
        if (!fromValue) {
            $("#f_mesto").val("");
            $("#f_mesto_cd").val("");
        } else {
            if (!toValue) {
                $("#f_mesto").val(fromValue);
                $("#f_mesto_cd").val("");
                $("#f_end").val("");
                $("#f_end_cd").val("");
                $(".clt_km--js").prop("readonly", false);
            }
        }
        if (!toValue) {
            $("#f_end").val("");
            $("#f_end_cd").val("");
            $(".clt_km--js").prop("readonly", false);
        }
      });
    }
  }
})(jQuery);
</script>
{% endblock %}