{% load static %}
<!-- Phones Modal -->
<div class="modal fade" id="modal_phones" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog g-max-width-750" role="document">
        <div class="modal-content g-bg-transparent g-brd-none g-pt-20 g-px-15">
            <div class="close g-pos-abs g-mr-25 g-mt-25 g-right-0 g-top-0 g-color-gray-light-v1 g-opacity-1 g-rounded-50 g-width-40 g-height-40 g-cursor-pointer text-center g-font-size-40 wx_no_select g-brd-none" data-dismiss="modal"><span aria-hidden="true">&times;</span></div>
            <div class="g-bg-white g-px-20 g-px-25--lg g-py-25 g-rounded-top-15">
                <div class="h3 text-center g-font-weight-700 g-color-black g-pb-10">Связаться с нами</div>
                <div class="g-pb-5--md text-center g-color-black g-font-size-18">Круглосуточно по Москве и Московской области</div>
            </div>
            <div class="g-bg-primary g-pt-8 g-pb-10 g-px-30 text-center">
                <a href="tel:+74955131347" class="u-link-v5 g-font-size-20 g-font-size-24--md g-color-white g-font-weight-600 g-line-height-1_6">+7 (495) 513-13-47</a>
            </div>
            <div class="g-bg-white g-px-20 g-px-25--lg g-py-25 g-rounded-bottom-15 text-center">
                <div class="d-sm-flex g-mb-10 justify-content-center align-items-center">
                    <div class="g-mr-25--sm g-font-size-16 g-font-size-20--sm g-mb-10 g-mb-0--sm">Задай вопрос в чате</div>
                    <div class="g-nowrap">
                        <a class="u-link-v5 g-opacity-0_8--hover d-inline-block g-mr-5" href="https://t.me/evacuator_avto" onclick="return !window.open(this.href)" rel="nofollow"><img src="{% static 'assets/i/telegram.svg' %}" width="36" alt="telegram"></a>
                        <a class="u-link-v5 g-ml-3 g-opacity-0_8--hover" href="https://wa.me/message/FDTVIC6ZHJJTO1" onclick="return !window.open(this.href)" rel="nofollow"><img src="{% static 'assets/i/whatsapp.svg' %}" width="36" alt="whatsapp"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Backform Modal -->
<div class="modal fade" id="modal_backform" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog g-max-width-750" role="document">
        <div class="modal-content g-bg-transparent g-brd-none g-pt-20 g-px-15">
            <div class="close g-pos-abs g-mr-25 g-mt-25 g-right-0 g-top-0 g-color-gray-light-v1 g-opacity-1 g-rounded-50 g-width-40 g-height-40 g-cursor-pointer text-center g-font-size-40 wx_no_select g-brd-none" data-dismiss="modal"><span aria-hidden="true">&times;</span></div>
            <div class="g-bg-white g-px-20 g-px-25--lg g-py-25 g-rounded-15 ajax_form--js">
                <div class="h3 text-center g-font-weight-700 g-color-black g-pb-10 ajax_name--js">Позвоните нам прямо сейчас</div>
                <form class="ajax_form g-px-30--xl g-pb-20--xl" action="javascript:void(0);">
                    <input type="hidden" name="f_vid" value="1">
                    <input type="hidden" name="page_id" value="30">
                    <input type="hidden" name="dop_id" value="0">
                    <div class="text-center g-pt-10">
                        <div class="d-sm-flex g-mb-30 justify-content-center">
                            <div class="g-mr-20--sm">
                                <a href="tel:+74955131347" class="u-link-v5 g-font-size-22 g-font-size-24--md g-color-black g-font-weight-700 g-line-height-1_6">+7 (495) 513-13-47</a>
                            </div>
                            <div class="g-mt-10 g-mt-0--md">
                                <a class="u-link-v5 g-opacity-0_8--hover d-inline-block g-mr-5" href="https://t.me/evacuator_avto" onclick="return !window.open(this.href)" rel="nofollow"><img src="{% static 'assets/i/telegram.svg' %}" width="40" alt="telegram"></a>
                                <a class="u-link-v5 g-ml-3 g-opacity-0_8--hover" href="https://wa.me/message/FDTVIC6ZHJJTO1" onclick="return !window.open(this.href)" rel="nofollow"><img src="{% static 'assets/i/whatsapp.svg' %}" width="40" alt="whatsapp"></a>
                            </div>
                        </div>
                    </div>
                    <p class="g-pb-10 text-center g-color-black g-font-size-15 g-font-size-18--lg ajax_txt--js">Или оставьте заявку и мы перезвоним в течение 10 минут:</p>
                    <div class="text-center">
                        <div class="btn u-btn-outline-primary text-uppercase g-font-weight-700 g-rounded-5 g-px-20 g-px-35--sm g-py-12 g-font-size-16 bform_btn--js">Заполнить форму</div>
                    </div>
                    <div class="d-none bform--js">
                        <div class="row">
                            <div class="col-sm-6 form-group g-mb-15 g-mb-20--lg g-pr-10--sm">
                                <input class="form-control g-font-size-16 g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus g-rounded-7 g-py-15 g-px-15 g-px-20--lg" type="text" name="f_name" placeholder="Ваше имя" required autocomplete="off">
                            </div>
                            <div class="col-sm-6 form-group g-mb-15 g-mb-20--lg g-pl-10--sm">
                                <div class="g-pos-rel">
                                    <input class="form-control g-font-size-16 g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus g-rounded-7 g-py-15 g-px-15 g-px-20--lg" type="tel" name="f_phone" placeholder="+7 (___) ___ __ __" required data-mask="+7 (999) 999 99 99" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="g-mb-15 g-brd-left g-brd-primary g-brd-2 g-bg-gray-light-v5 g-pl-15 g-py-15 g-color-gray-dark-v1 d-none clc_div--js"></div>
                        <div class="g-mb-15 g-mb-20--lg">
                            <textarea class="form-control g-font-size-16 g-color-black g-bg-white g-bg-white--focus g-brd-gray-light-v3 g-brd-primary--focus g-resize-none g-rounded-7 g-py-10 g-px-15 g-px-20--lg" name="f_txt" rows="4" placeholder="Комментарий или Вопрос"></textarea>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-6 g-mb-15">
                                <button class="btn u-btn-primary w-100 text-uppercase g-font-weight-700 g-rounded-5 g-px-35 g-py-8 g-font-size-16 g-height-50 g-opacity-0_8--hover" type="submit">Отправить</button>
                            </div>
                            <div class="col-md-6 g-mb-15 g-font-size-13 g-color-gray-dark-v5 text-center text-md-left">
                                Нажимая на кнопку, Вы даете свое согласие <a href="{% url 'privacy_policy' %}" class="u-link-v1">на обработку персональных данных</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Factor Modal -->
<div class="modal fade" id="modal_factor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog g-max-width-700" role="document">
        <div class="modal-content g-bg-transparent g-brd-none g-pt-20 g-px-15">
            <div class="close g-pos-abs g-right-minus-5 g-top-0 g-bg-white g-opacity-1 g-rounded-50 g-width-40 g-height-40 g-cursor-pointer text-center g-font-size-40 wx_no_select g-brd-none" data-dismiss="modal"><span aria-hidden="true">&times;</span></div>
            <div class="g-bg-primary g-px-20 g-px-25--lg g-py-10 g-rounded-top-5">
                <div class="g-font-weight-300 g-font-size-18 g-color-white">Дополнительные факторы</div>
            </div>
            <div class="g-bg-white g-pa-20 g-pa-25--lg g-rounded-bottom-5">
                <p>Уважаемые клиенты!</p>
                <p>Обращаем ваше внимание, что стоимость услуги, рассчитанная в нашем онлайн-калькуляторе, является предварительной. Окончательная цена может быть скорректирована при выявлении дополнительных факторов, не учтённых при автоматическом расчёте. К таким факторам относятся:</p>
                <ul>
                    <li><p>Сложные условия подъезда к месту эвакуации (подземные паркинги, узкие проезды, малоосвещённые участки);</p></li>
                    <li><p>Пробки и сложная дорожная обстановка (ремонтные работы, аварийные участки, заторы на трассах);</p></li>
                    <li><p>Состояние автомобиля после ДТП или при заблокированных колёсах;</p></li>
                    <li><p>Повторная погрузка/перегрузка, если это требуется для безопасности или по особенностям маршрута;</p></li>
                    <li><p>Время эвакуации (ночное время, выходные и праздничные дни);</p></li>
                    <li><p>Неблагоприятные погодные условия (гололёд, сильный дождь, снегопад), влияющие на безопасность перевозки;</p></li>
                    <li><p>Ожидание на месте эвакуации по вине клиента (несвоевременный подъезд, задержка документов и т. п.);</p></li>
                    <li><p>Особые пожелания клиента (точное время подачи эвакуатора, промежуточные остановки по маршруту и т. п.).</p></li>
                </ul>
                <p>Мы стремимся к максимальной прозрачности и предлагаем конкурентные цены, учитывающие все возможные особенности перевозки. При возникновении вопросов &mdash; пожалуйста, свяжитесь с нашим менеджером по телефону или через форму обратной связи.</p>
            </div>
        </div>
    </div>
</div>