{% extends "base.html" %}
{% load static %}

{% block title %}Оплата услуги эвакуатора — QR-код{% endblock %}

{% block content %}
<section class="payment-page">
    <div class="payment-container">

        <h1 class="payment-title">Оплатите услугу<br>эвакуатора</h1>

        <p class="payment-text">
            Наведите камеру телефона на QR-код,<br>
            чтобы мгновенно оплатить услугу картой
        </p>

        <!-- САМ QR-КОД -->
        <div class="qr-wrapper">
            <img src="{% static 'images/qr_code1.jpg' %}" alt="QR-код для оплаты" class="qr-code">
        </div>

        <div class="payment-info">
            <p>После оплаты водитель сразу начнёт движение к вам</p>
        </div>

        <a href="tel:+74999119572" class="payment-phone" style="font-size: 30px;">
            Или позвоните нам:   +7 (499) 911-95-72
        </a>

    </div>
</section>
{% endblock %}