{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="contact-section">
  <div>
    <h2 style="text-align: center;">some Title</h2>
    <p style="padding: 20px; text-align: center;">some text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint magnam rem reprehenderit voluptatem error molestias recusandae? Est temporibus aliquid necessitatibus tenetur fugit quos ex sapiente reprehenderit! Itaque minima explicabo possimus.</p>
  </div>
</section>

<section class="contact-section">
  <div class="contact-map">
    <!-- Вставь сюда код Яндекс карты -->
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Aexample"
      width="100%"
      height="100%"
      frameborder="0"
    ></iframe>
  </div>

  <div class="contact-form">
    <h3>Оставьте заявку</h3>
    <form class="contact-form" novalidate>
        {% csrf_token %}
        <input type="text" name="name" placeholder="Ваше имя">
        <input type="tel" name="phone" placeholder="+7 (___) ___ __ __" 
               required data-mask="+7 (999) 999 99 99">

        <label class="policy-checkbox">
          <span style="text-decoration: none;">Согласен с <a href="/policy" style="text-decoration: none; color: #999 !important;" target="_blank">политикой конфиденциальности</a> и <a href="/policy" style="text-decoration: none; color: #999 !important;" target="_blank">обработкой данных</a></span>
        </label>

        
        <button type="submit">Отправить</button>
        <div class="form-message"></div>
    </form>
</div>
</section>
{% endblock %}