{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="prices" id="prices">
    <div class="container prices-container">
        <h2 class="prices-title">Тариф "Эвакуатор по округам Москвы"</h2>
        <div class="price-table-wrapper">
            <table class="price-table">
                <tbody>
                    <tr><td>Эвакуатор для мотоциклов</td><td>от 4000 р.</td></tr>
                    <tr><td>Эвакуатор для квадроциклов и снегоходов</td><td>от 4000 р.</td></tr>
                    <tr><td>Эвакуатор для легковых автомобилей</td><td>от 4000 р.</td></tr>
                    <tr><td>Эвакуатор для спецтехники</td><td>от 4500 р.</td></tr>
                    <tr><td>Эвакуатор для микроавтобусов</td><td>от 4700 р.</td></tr>
                    <tr><td>Эвакуатор для тяжёлых внедорожников</td><td>от 4900 р.</td></tr>
                    <tr><td>Эвакуатор для коммерческого транспорта</td><td>от 5000 р.</td></tr>
                    <tr><td>Эвакуатор для автомобилей премиум-класса</td><td>от 5000 р.</td></tr>
                    <tr><td>Эвакуатор для ГАЗели</td><td>от 5000 р.</td></tr>
                    <tr><td>Эвакуатор для спорткаров</td><td>от 6000 р.</td></tr>
                    <tr><td>Эвакуатор для грузовых авто от 5 тонн</td><td>от 10000 р.</td></tr>
                    <tr><td>Эвакуатор по межгороду</td><td>от 45 р. за км</td></tr>
                </tbody>
            </table>
        </div>
        <!-- <a href="#price-list" class="price-link">Полный прайс-лист →</a> -->
    </div>
</section>



<section class="contact-section">
  <div class="contact-map">
    <!-- Вставь сюда код Яндекс карты -->
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Aexample"
      width="100%"
      height="100%"
      frameborder="0"
    ></iframe>
  </div>

  <div class="contact-form">
    <h3>Оставьте заявку</h3>
    <form class="contact-form" novalidate>
        {% csrf_token %}
        <input type="text" name="name" placeholder="Ваше имя">
        <input type="tel" name="phone" placeholder="+7 (___) ___ __ __" 
               required data-mask="+7 (999) 999 99 99">

        <label class="policy-checkbox">
          <span style="text-decoration: none;">Согласен с <a href="/policy" style="text-decoration: none; color: #999 !important;" target="_blank">политикой конфиденциальности</a> и <a href="/personal-data" style="text-decoration: none; color: #999 !important;" target="_blank">обработкой данных</a></span>
        </label>

        
        <button type="submit">Отправить</button>
        <div class="form-message"></div>
    </form>
</div>
</section>
{% endblock %}