{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="districts">
    <h1>Эвакуация машин по округам Москвы</h1>

    <div class="district-grid">
      <div class="district-card">
        <img src="{% static 'images/6.jpg' %}"jpg' %}" alt="ВАО">
        <span>(ВАО) Восточный</span>
      </div>

      <div class="district-card">
        <img src="{% static 'images/1.jpg' %}" alt="СВАО">
        <span>(СВАО) Северо-Восточный</span>
      </div>

      <div class="district-card">
        <img src="{% static 'images/2.jpg' %}" alt="ЮВАО">
        <span>(ЮВАО) Юго-Восточный</span>
      </div>

      <div class="district-card">
        <img src="{% static 'images/7.jpg' %}" alt="ЗАО">
        <span>(ЗАО) Западный</span>
      </div>

      <div class="district-card">
        <img src="{% static 'images/9.jpg' %}" alt="СЗАО">
        <span>(СЗАО) Северо-Западный</span>
      </div>

      <div class="district-card">
        <img src="{% static 'images/4.jpg' %}" alt="ЮЗАО">
        <span>(ЮЗАО) Юго-Западный</span>
      </div>

      <div class="district-card">
        <img src="{% static 'images/3.jpg' %}" alt="ЮАО">
        <span>(ЮАО) Южный</span>
      </div>

      <div class="district-card">
        <img src="{% static 'images/8.jpg' %}" alt="САО">
        <span>(САО) Северный</span>
      </div>

      <div class="district-card">
        <img src="{% static 'images/5.jpg' %}" alt="ЦАО">
        <span>(ЦАО) Центральный</span>
      </div>
    </div>
  </section>

{% endblock %}